/*Top Trends*/

.ranking-bloque{
    font-size: 100%;
    text-align: center;
    justify-self: center;
    align-self: center;
    img{
        transform: scale(1.1,1.1);
    }
    .ranking-nombre{
        color: black;
        text-decoration: underline;
        font-weight: bolder;
        font-size: 30px;
        font-family: cursive;
    }
    .ranking-descripcion{
        color: black;
        font-weight: bold;
        font-size: 20px;
        padding-left: 20%;
        padding-right: 20%;
        font-family: cursive;
    }
}

.ranking-fondo--oro{
    background-color: gold;
    border-radius: 20px;
    margin: 0% 15% 0% 15%;
}

.ranking-fondo--plata{
    background-color: silver;
    border-radius: 20px;
    margin: 0% 15% 0% 15%;
}

.ranking-fondo--bronce{
    background-color: orangered;
    border-radius: 20px;
    margin: 0% 15% 0% 15%;
}

.ranking-imgs{  
    width: 200px;
    height: 200px;
    border-radius: 10px;
}