<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../estilos.css">
    <title>Aryston | Productos</title>
    <meta name="description" content="Te brindamos un catálogo con más de 100 productos de todo tipo, variedad y precio. Vas a encontrar productos de oro, plata y oro, plata y acero quirúrgico.">
    <meta name="keywords" content="Joyas, Alhajas, Catálogo, Comprar, Precio, Acero, Plata, Oro, Anillo, Cadena, Reloj, Por Menor, Por Mayor">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-success justify-content-center">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="../index.html">Inicio</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="">Productos <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../Views/Top Trends.html">Top Trends</a>
             </li>
            <li class="nav-item">
                <a class="nav-link" href="../Views/Sobre nosotros.html">Sobre Nosotros</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../Views/Contactanos.html">Contactanos</a>
            </li>    
        </ul>
    </nav><br>
    <div class="views-header">
        <img src="../Multimedia/Logo.PNG" alt=""><br><br>
        <p>ARYSTON JOYAS</p>
    </div><br>
    <h2 class="views-titulo">CATÁLOGO DE PRODUCTOS:</h2><br>
    <br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 w-50 mx-auto" id="caja-prod">
                <img src="../Multimedia/aros-arbolito.jpeg" alt="" class="caja-imagen">
                <p class="caja-nombre">Aro Arbolito Plata y Oro</p>
                <p class="caja-precio">$750</p>
            </div>
            <div class="col-md-3 w-50 mx-auto" id="caja-prod">
                <img src="../Multimedia/cadena-cruz.jpeg" alt="" class="caja-imagen">
                <p class="caja-nombre">Cadena Cruz Plata y Oro</p>
                <p class="caja-precio">$2.500</p>
            </div>
            <div class="col-md-3 w-50 mx-auto" id="caja-prod">
                <img src="../Multimedia/anillo circulo.jpeg" alt="" class="caja-imagen">
                <p class="caja-nombre">Anillo Circular Plata y Oro</p>
                <p class="caja-precio">$800</p>
            </div>
            <div class="col-md-3 w-50 mx-auto" id="caja-prod">
                <img src="../Multimedia/anillo escarabajo.jpeg" alt="" class="caja-imagen">
                <p class="caja-nombre">Anillo Esc. Plata y Oro</p>
                <p class="caja-precio">$900</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 w-50 mx-auto" id="caja-prod">
                <img src="../Multimedia/anillo grande.jpeg" alt="" class="caja-imagen">
                <p class="caja-nombre">Anillo Flores Plata y Oro</p>
                <p class="caja-precio">$1.500</p>
            </div>
            <div class="col-md-3 w-50 mx-auto" id="caja-prod">
                <img src="../Multimedia/anillo infinito.jpeg" alt="" class="caja-imagen">
                <p class="caja-nombre">Anillo Infinito Plata y Oro</p>
                <p class="caja-precio">$1.100</p>
            </div>
            <div class="col-md-3 w-50 mx-auto" id="caja-prod">
                <img src="../Multimedia/anillo s.jpeg" alt="" class="caja-imagen">
                <p class="caja-nombre">Anillo Diam. Plata y Oro</p>
                <p class="caja-precio">$1.400</p>
            </div>
            <div class="col-md-3 w-50 mx-auto" id="caja-prod">
                <img src="../Multimedia/anillo tres capas.jpeg" alt="" class="caja-imagen">
                <p class="caja-nombre">Anillo Capas Plata y Oro</p>
                <p class="caja-precio">$1.750</p>
            </div>
        </div>
    </div>
    <footer class="container-fluid">
        <div class="row" id="top-line">
            <div class="col-md-4" id="footer-izquierda">
                <p>Teléfono: 4372-7836</p>
                <p>Mail: arystontop@gmail.com </p>
                <p>
                    <a href="https://api.whatsapp.com/send?phone=541112345678&text=Hola!%20Esta%20es%20la%20cuenta%20de%20Aryston%2C%20en%20qu%C3%A9%20podemos%20ayudarte%3F"><img src="../Multimedia/wp.png" alt=""></a>
                    <a href="https://www.instagram.com/arystonjoyas/"><img src="../Multimedia/ig.jpg" alt=""></a>
                </p>
            </div>
            <div class="col-md-4" id="footer-centro">
                <p>Aryston Joyas</p>
                <p>Libertad 148, CABA</p>
            </div>
            <div class="col-md-4" id="footer-derecha">
                <p>Todos los derechos reservados</p>
            </div>
        </div>
    </footer>    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
</body>
</html>